---
const title = 'Оставь комменарий';
---

<form action="/" class="form" novalidate>
    <div class="form__body">
        {title && <p class="form__title">{title}</p>}
        <div class="form__row">
            <label for="">
                <svg class="icon" width="24" height="24">
                    <use xlink:href={`#f1`}></use>
                </svg>
                <input type="text" placeholder="Имя" />
            </label>
            <label for="">
                <svg class="icon" width="24" height="24">
                    <use xlink:href={`#f2`}></use>
                </svg>
                <input type="text" placeholder="Email" />
            </label>
        </div>
        <div class="form__row">
            <textarea name="" rows="3" id="" placeholder="Ваш комментарий"
            ></textarea>
        </div>
    </div>

    <div>
        <button class="btn">
            Опубликовать комментарий <svg class="icon" width="24" height="24">
                <use xlink:href="#arr-t-r"></use>
            </svg></button
        >
    </div>
</form>
