{
    "tabWidth": 4,
    "useTabs": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "maxProperties": 2,
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "semi": true,
    "printWidth": 80,
    "trailingComma": "none",
    "sassBracketSpacing": false
}