---
import Layout from '../../layouts/Layout.astro'
import Search from '../../components/ui/Search.astro'
import Tag from '../../components/ui/Tag.astro'
import Card from '../../components/cards/_post-card.astro'
import Pagination from '../../components/ui/Pagination.astro'
import TopPosts from './_top-posts.astro'

export async function getStaticPaths({ paginate }) {
    const allPosts = Object.values(
        import.meta.glob('../../md/blog/*.md', { eager: true })
    )
    const sortedPosts = allPosts.sort((a, b) => {
        return new Date(b.frontmatter.pubdate) - new Date(a.frontmatter.pubdate)
    })

    return paginate(sortedPosts, { pageSize: 6 })
}

const { page } = Astro.props

const bgImg = '/assets/img/bg/blog.jpg'
const bgFill = 'contain'

const title = 'Блог'

const count = 2
---

<Layout bg={{ bgImg: bgImg, bgFill: bgFill }}>
    <section class="section hero">
        <div class="container text-center">
            <h1>{title}</h1>
            <Search />
        </div>
    </section>
    <section class="section page-container">
        <div class="container">
            <div class="">
                <section class="mb-5">
                    <h2>Последнее</h2>
                    <TopPosts count={count} />
                </section>
                <section>
                    <h2>Все посты</h2>

                    <div class="cards">
                        {
                            page.data.map((item) => (
                                <Card data={item.frontmatter} />
                            ))
                        }
                    </div>

                    <Pagination page={page} />
                </section>
            </div>
        </div>
    </section>
</Layout>
