---
const {
	title = 'Вам также будет интересно',
	btn,
	theme = 'light'
} = Astro.props;
import Card from '../../components/cards/_post-card.astro';
import Button from '../../components/ui/Forms/Button.astro';
import Slider from '../../components/ui/Swiper.astro';

import { sortedPosts } from './constant.js';

const countRelatedPosts = 6;
---

<section class={theme === 'dark' ? 'section_dark' : 'section'}>
	<div class="container">
		<hgroup>
			<h2>{title}</h2>
			{btn && <Button title={btn.title} url={btn.url} />}
		</hgroup>
		<Slider
			data={sortedPosts.slice(0, countRelatedPosts)}
			CardComponent={Card}
		/>
	</div>
</section>
