---
import { formatPubDate } from '../../assets/js/utils'

const { data } = Astro.props
const { thumbnail, title, pubdate, read, category } = data
---

<article class="post">
    <div class="post__img">
        <button class="post__cta">
            <svg class="icon" width="48" height="48">
                <use xlink:href="#arr-t-r"></use>
            </svg>
        </button>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 554 500"
            fill="none"
            ><clipPath id="clip1">
                <path
                    d="M0.5 40C0.5 17.9086 18.4086 0 40.5 0H513.5C535.591 0 553.5 17.9086 553.5 40V210.5V352.522C553.5 354.339 553.393 356.151 552.903 357.9C551.012 364.658 543.683 382 518.258 382C477.659 383.5 465.773 392.636 455.109 403.5C444.594 414.213 433.567 427.5 431.562 461C431.562 487.801 417.893 496.425 411.488 498.994C409.384 499.839 407.11 500 404.843 500H277H40.5C18.4086 500 0.5 482.091 0.5 460V40Z"
                    fill="#08071B"></path>
                <path
                    d="M0.5 40C0.5 17.9086 18.4086 0 40.5 0H513.5C535.591 0 553.5 17.9086 553.5 40V210.5V352.522C553.5 354.339 553.393 356.151 552.903 357.9C551.012 364.658 543.683 382 518.258 382C477.659 383.5 465.773 392.636 455.109 403.5C444.594 414.213 433.567 427.5 431.562 461C431.562 487.801 417.893 496.425 411.488 498.994C409.384 499.839 407.11 500 404.843 500H277H40.5C18.4086 500 0.5 482.091 0.5 460V40Z"
                    fill="url(#pattern0_1069_1345)"
                    fill-opacity="0.7"
                    style="mix-blend-mode:luminosity"></path>
            </clipPath>

            <image clip-path="url(#clip1)" height="100%" href={thumbnail} />
        </svg>
    </div>
    <div class="post__body">
        <div class="post__meta">
            <div class="post__info">
                <div>
                    <svg class="icon" width="24" height="24">
                        <use xlink:href="#date"></use>
                    </svg>
                    <span>
                        {formatPubDate(pubdate)}
                    </span>
                </div>
                <div>
                    <svg class="icon" width="24" height="24">
                        <use xlink:href="#time"></use>
                    </svg>
                    <span>
                        {read || '5 min'}
                    </span>
                </div>
            </div>
            <button class="chip">
                {category}
            </button>
        </div>
        <div class="post__content">
            <h3 class="post__title">
                {title}
            </h3>
        </div>
    </div>
</article>
