---
const { data = [] } = Astro.props;
---

<div class="post__info">
    {
        data.map(({ title, icon }) => (
            <div>
                <svg class="icon" width="24" height="24">
                    <use xlink:href={`#${icon}`} />
                </svg>
                <span>{title}</span>
            </div>
        ))
    }
</div>
