---
import { formatPubDate } from '../../assets/js/utils'
const { pubdate, read } = Astro.props
---

<div class="post__meta">
    <div class="post__info">
        <div>
            <svg class="icon" width="24" height="24">
                <use xlink:href="#date"></use>
            </svg>
            <span>
                {formatPubDate(pubdate)}
            </span>
        </div>
        <div>
            <svg class="icon" width="24" height="24">
                <use xlink:href="#time"></use>
            </svg>
            <span>
                {read || '5 min'}
            </span>
        </div>
    </div>
</div>
