---
import { marked } from 'marked';

const { data, count = {} } = Astro.props;
---

<article class="slide">
	<div class={count.lg === 2 ? 'slide__body' : 'slide__inner'}>
		<div class="">
			<div
				class="slide__title"
				set:html={marked.parse(data.slide.col_l)}
			/>
		</div>
		<div class="slide__content">
			<div set:html={marked.parse(data.slide.col_r)} />
		</div>
	</div>
</article>
