---
import Brands from '../ui/Brands.astro';

const title = 'Ниши с которыми мы работаем';

const brands = [
	{ title: 'Финтех' },
	{ title: 'Форекс' },
	{ title: 'Необанк' },
	{ title: 'Крипта' },
	{ title: 'Финтех' },
	{ title: 'Форекс' },
	{ title: 'Необанк' },
	{ title: 'Крипта' }
];
---

<section class="section section_dark">
	<div class="container">
		<h2>{title}</h2>
	</div>

	<Brands data={brands} />
</section>
