---
import Button from '../ui/Forms/Button.astro';
import Faq from '../ui/Faq.astro';
const title = 'Часто задаваемые вопросы';

const faq = [
	{
		qw: 'С какими вертикалями в нише финтех вы работаете?',
		answ: 'Мы предоставляем маркетинговые услуги форекс-брокерам и криптобиржам.'
	},
	{
		qw: 'От чего зависит стоимость услуг по финтех-маркетингу?',
		answ: 'Мы предоставляем маркетинговые услуги форекс-брокерам и криптобиржам.'
	},
	{
		qw: 'Как быстро можно увидеть результат после начала сотрудничества?',
		answ: 'Мы предоставляем маркетинговые услуги форекс-брокерам и криптобиржам.'
	},
	{
		qw: 'Почему стоит заказывать услуги по маркетингу для криптобиржи или форекс-брокера у FX-serm?',
		answ: 'Мы предоставляем маркетинговые услуги форекс-брокерам и криптобиржам.'
	},
	{
		qw: 'Первая консультация бесплатна или оплачивается отдельно?',
		answ: 'Мы предоставляем маркетинговые услуги форекс-брокерам и криптобиржам.'
	}
];
---

<section class="section">
	<div class="container">
		<div class="row_1">
			<div>
				<h2>{title}</h2>
				<Button />
			</div>
			<div>
				<Faq data={faq} />
			</div>
		</div>
	</div>
</section>
