---
import '../assets/styles/404.sass';
import SEO from '../components/SEO.astro';
import Logo from '../components/Logo.astro';

import { ClientRouter } from 'astro:transitions';

import 'animate.css';

const anim = {
	old: {
		name: 'fadeIn',
		duration: '0.5s',
		easing: 'ease-in',
		direction: 'reverse'
	},
	new: {
		name: 'fadeIn',
		duration: '0.5s',
		easing: 'ease-in-out'
	}
};

const customTransition = {
	forwards: anim,
	backwards: anim
};

const seo = {
	title: '404',
	description: 'SEO 404 desc',
	url: '404'
};
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<SEO seo={seo} />
		<ClientRouter />
	</head>
	<body>
		<main transition:animate={customTransition}>
			<div class="container">
				<Logo height="45" />
				<h1>404</h1>
				<p>Sorry, we couldn't fint that page</p>
				<a href="/" class="btn">GO TO HOME</a>
			</div>
		</main>
	</body>
</html>
