.faq
	width: 100%
	border-collapse: collapse 
	margin-bottom: $gap4
	margin-top: $gap4

	tbody
		display: grid
		grid-template-columns: 1fr 
		
	&__answ
		grid-column: 1/-1

	&__wrap
		border-radius: 15px
		background-repeat: no-repeat
		background-size: contain
		background-position: 100% 0
	
	&__num
		+ft(35, 35, 800)
		width: 100px
		border-right: 1px solid rgba($white, 0.15)
		text-align: center
		padding: var(--gap3) 
		
	&__cta
		+flex(flex, center, center, nowrap)
		+sz(40px, 40px)
		border-radius: 50%
		+theme(main)
		text-align: center
		svg
			margin: auto
			&:last-child
				display: none
		
	&__term
		+ft(24, 24*1.3, 700, $ffHeading)
		padding: var(--gap3) 
		user-select: none

	&__row
		display: grid
		grid-template-columns: 1fr auto
		align-items: center
		border-top: 1px solid rgba($white, 0.15)
		cursor: pointer
		&:first-child
			border-top: 0
		
		&.active
			.faq__cta
				svg
					&:first-child
						display: none
					&:last-child
						display: block
						
			& + tr > .faq__body
				display: block

	&__body
		+ft(20, 30, 300)
		padding: $gap3 $gap3
		display: none
	
	+maw($sm)
		&__num
			display: none
		&__term, &__body
			padding: 15px
		&__row
			grid-template-columns: 1fr auto
		&__term
			+ft(20, 20*1.4, 700)
		&__body
			+ft(13, 13*1.4, 300)
	