---
const title = 'Наши преимущества в направлении SERM';
import { features } from './constant';
import Card from '../../cards/_benefits-card.astro';
---

<section class="section section_benefits">
	<div class="container">
		<h2 class="text-center">{title}</h2>

		<div class="cards">
			{features.map((feature) => <Card data={feature} />)}
		</div>
	</div>
</section>
