
.banner
	position: relative
	padding: 5em var(--gap6)
	margin: var(--gapSection) 0
	color: $white
	background-color: $main
	background-size: cover
	background-repeat: no-repeat
	border-radius: $brs2
	overflow: hidden
	.corner
		+ps(absolute, (l, auto), (b, -2px), (r, 0))
		+sz(11em, 11em)
		// clip-path: url(#menu)
		// will-change: transform
		button, a
			bottom: 2px
	&__content
		max-width: 650px
	&__title
		@extend .h2
		line-height: 1.3
		margin-bottom: $gap2
	&__desc
		+ft(18, 18*1.4, 400)
		padding-right: 0
	+maw($md)
		background: $grad !important
		&__desc
			padding-right: 5em
	+maw($xs)
		&__desc
			font-size: 1em
			padding-right: 0
		.corner
			+sz(7em, 7em)
			button, a
				+sz(60%, 60%)
