.btn
	+flex(inline-flex, center, center, nowrap)
	gap: $gap2
	height: 50px
	min-width: 50px
	padding: $gap2 $gap3
	border: 2px solid $main
	background: $grad
	border-radius: $brs1
	color: $white
	text-align: center
	text-transform: initial
	+ft(18, 18, 500)
	transition: $trs
	cursor: pointer
	&:hover, &:focus, &:active
		background: $grad2
		border-color: transparent
	
	&s
		+flex(flex, center, start, nowrap)
		gap: $gap2
	&-secondary
		@extend .btn
		background: $dark
		color: $white
		
%circle-btn
	+ps(absolute, (b, 0), (r, 0))
	+flex(flex, center, center, nowrap)
	+sz(8em, 8em)
	border-radius: 50%
	box-shadow: 0 0 0 2em $dark_1
	border: none
	+theme(white)
	z-index: 2
	&:hover
		transform: scale(0.9)