.btn
	+flex(inline-flex, center, center, nowrap)
	gap: $gap2
	height: 50px
	min-width: 50px
	padding: $gap2 $gap3
	border: 2px solid $main
	background: $grad
	border-radius: 12px
	color: $white
	text-align: center
	text-transform: initial
	+ft(18, 18, 500)
	transition: $trs
	cursor: pointer
	&:hover, &:focus, &:active
		background: $grad2
		border-color: transparent
		color: $white

	&s
		+flex(flex, center, start, nowrap)
		gap: $gap2
	&-squire
		@extend .btn
		max-width: 50px
		padding: 4px
	&-bd
		@extend .btn
		background: none
		color: $main
		border-color: $main
		&:hover, &:active, &:focus
			background: none
			border-color: $main
			color: $main
	&-file
		+flex(flex, center, center, nowrap)
		gap: $gap2
		padding: $gap1 $gap2
		margin: 0
		+sz(auto, 50px)
		user-select: none
		cursor: pointer
		border: 2px dashed var(--bdc)
		border-radius: 16pc
		background: none
		color: inherit
		+ft(18, 18, 500)
		input[type="file"]
			display: none
		label
			width: auto !important
			flex: initial !important
			padding: 0 !important
			opacity: $op
			cursor: pointer
		svg
			min-width: 24px
			color: inherit
			opacity: $op
		&:hover, &:focus, &:active
			border-color: $main
	&-secondary
		@extend .btn
		background: $dark
		color: $white
	&-top
		@extend .btn-squire
		opacity: 0
		+ps(fixed, (r, 10px), (b, 10px))
		&.show
			opacity: 1

%circle-btn
	+ps(absolute, (b, 0), (r, 0))
	+flex(flex, center, center, nowrap)
	+sz(8em, 8em)
	border-radius: 50%
	border: none
	+theme(white)
	z-index: 2
	cursor: pointer
	transition: background, transform 0.3s ease-in-out
	[data-bs-theme="light"] &
		background: $grad
		color: $white
	&:hover, &:focus, &:active
		background: $grad
		color: $white
		transform: scale(0.9)


.form
	overflow: hidden
	textarea, input:not([type=checkbox]), input:not([type=radio])
		width: 100%
		padding: 0.75em 1em
		background: none
		appearance: none
		outline: none
		border: none
		resize: none
		color: inherit
		font-family: $ffText
	button
		margin-top: $gap3
		max-width: 45%
		min-width: 250px
		width: 100%
	label
		flex: 1 0 auto
		width: 100%
		+flex(flex, center, center, nowrap)
		gap: $gap1
		padding: 1em
		svg
			opacity: $op
	.btns
		margin: 0
		flex-wrap: wrap
		button
			margin: 0
	&__title
		padding: 1em
		@extend .h4
		margin-top: 0
		margin-bottom: 0
	&__body
		border-radius: $brs
		border: 2px solid var(--bdc)
		& label
			border-style: solid
			border-color: var(--bdc)
			border: 2px solid var(--bdc)
			border-width: 2px 2px 2px 0
			&:last-child
				border-right: 0
	&__row
		display: grid
		gap: 0
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
			
	&__note
		margin: $gap3 0
		border: none

	+maw($sm)
		&__row
			grid-template-columns: 1fr
			gap: 0
			flex-wrap: wrap
			label
				border: 0
				&:nth-child(odd)
					border: 2px solid var(--bdc)
					border-width: 2px 0
				&:last-child
					border-bottom: 2px solid var(--bdc)
	+maw($lsm)
		.btns
			button
				max-width: 100%
	+maw($xs)
		label
			font-size: 0.9em

[type=checkbox]
	display: none
	& + label
		position: relative
		+flex(flex, center, start, nowrap)
		gap: $gap2
		padding: 0
		user-select: none
		line-height: 1.3
		cursor: pointer
		span
			opacity: $op
		&::before
			content: ''
			display: block
			+sz(24px, 24px)
			min-width: 24px
			border-radius: 4px
			border: 2px solid var(--bdc)

	&:checked
		& + label
			&::after
				content: ''
				display: block
				background: url('../img/icon/check.svg') no-repeat 50% / contain
				+sz(10px, 10px)
				position: absolute
				inset: 0
				margin: auto
				margin-left: 8px
				transform: scale(1.4)
				

.tags
	position: relative
	overflow: hidden
	width: 100%
	&-block
		+flex(flex, center, start, wrap)
		gap: $gap2
		max-width: 800px
	&__inner
		+flex(flex, center, center, wrap)
		gap: $gap2
		overflow-x: auto
		scrollbar-width: none
		// 	background-color: transparent

		// &::-webkit-scrollbar-thumb
		// 	background: $dark_2
	
	+maw($xs)
		&::after
			content: ''
			+sz(15%, 100%)
			+ps(absolute, (r, 0), (t, 0), (b, 0))
			margin: auto
			background: linear-gradient(90deg, transparent, $dark_1)
			[data-bs-theme="light"] &
				background: linear-gradient(90deg, transparent, $dark)
		&__inner
			flex-wrap: nowrap
			justify-content: start
			padding-left: 2px

.tag
	+flex(flex, center, center, nowrap)
	min-height: 3.25em
	padding: 0.5em 2em
	border: 1px solid transparent
	border-radius: 16pc
	user-select: none
	+ft(13, 13, 500)
	letter-spacing: 0.04em
	+theme(dark2)
	opacity: $op
	transition: $trs
	cursor: pointer
	&:hover, &:active, &:focus
		opacity: 1
		border-color: $main
	&-default
		@extend .tag
		opacity: 1
		+theme(white)
		cursor: pointer
		transition: background 0.3s ease-in-out
		&:hover, &:active, &:focus
			background: $grad
			color: $white
	+maw($xs)
		.tag
			font-size: 0.8em

.search
	display: block
	max-width: 750px
	width: 100%
	margin: $gap2 auto
	input
		border: none
		background: none
		color: inherit
		flex: 1
		+ft(15, 15, 400)
	&__field
		+flex(flex, center, start, nowrap)
		gap: $gap1
		padding: 0.65em 1em
		border: 2px solid rgba($white, 0.2)
		border-radius: $brs1
		svg
			min-width: 24px

.chip
	+flex(inline-flex, center, center, nowrap)
	gap: $gap1
	padding: $gap1 $gap2
	border: none
	border-radius: 16pc
	background: $grad
	color: $white
	+ft(13, 13, 500)
	transition: $trs

	&:hover, &:active, &:focus
		background: $grad2

.pagination
	+flex(flex, center, start, wrap)
	gap: $gap1
	margin-top: $gap4
	& > *
		+flex(flex, center, center, nowrap)
		+sz(auto, 40px)
		min-width: 40px
		padding: 1em
		border: $bd
		border-radius: 8px
		transition: background 0.3s ease-in-out
		&.active
			background: $grad
			color: $white
		&:hover
			background: $grad
			color: $white
		&.disabled
			display: none
			opacity: 0

.shared
	+flex(flex, center, start, wrap)
	gap: $gap2
	span
		opacity: $op
	.share
		+flex(flex, center, center, wrap)
		gap: $gap1
		a
			+flex(flex, center, center, nowrap)
			gap: $gap1
			+sz(50px, 50px)
			min-width: 50px
			overflow: hidden
			+theme(dark2)
			color: rgba($white, $op)
			border-radius: 50%
			transform-origin: center
			[data-bs-theme="light"] &
				background: $grad
				color: $white
			&:hover, &:active, &:focus
				background: $grad
				color: $white
				transform: rotate(-15deg)
				
.corner
	& > svg
		fill: var(--cornerFill)
	button, a
		+ps(absolute, (b, 0), (r, 0))
		@extend %circle-btn

