body
	background-repeat: no-repeat
	background-size: cover
	background-position: top right
	font-family: $ffText, $ffBack


a
	font-family: inherit
	&:hover, &:focus, &:active, &:focus-visible
		outline: none
		appearance: none
		box-shadow: none

.section
	margin: var(--gapSection) 0
	&_benefits
		[data-bs-theme="dark"] &
			+theme(dark)
		[data-bs-theme="light"] &
			+theme(light)
		padding: var(--gapSection) 0
	&_address
		padding: var(--gapSection) 0
		+theme(dark)
		

.page
	&-container
		@extend .mt-0
		margin-bottom: var(--gapSection)
	&-content
		display: grid
		grid-template-columns: 1fr 2fr
		gap: $gap3
		h1, h2, h3, h4, h5, h6
			margin-top: $gap3
			margin-bottom: $gap2
		h2
			margin-top: 0
		p, li
			opacity: $op
		&-base
			@extend .page-content
			grid-template-columns: 1fr
			h2
				grid-columns: 1/-1
				& + div
					max-width: 800px
					margin-left: auto
					margin-right: auto
			
	+maw($md)
		&-content
			grid-template-columns: 1fr

.box
	padding: 4em
	margin: 0 auto
	+theme(dark2)
	border-radius: $brs2
	[data-bs-theme="light"] &
		+theme(dark) 



	
.service
	+theme(dark2)
	border-radius: $brs2
	overflow: hidden
	&s
		display: grid
		gap: $gap2
	&__block
		margin: $gap4 0 0
		display: grid
		grid-template-columns: 1fr 2fr
		gap: $gap4
	&__header
		@extend .h4, .my-0
		padding: $gap3
		user-select: none
		cursor: pointer
	&__body
		display: none
		padding: $gap3
		
	&__title
		@extend .h4, .mt-0
		user-select: none
	&__desc
		opacity: $op
	+maw($md)
		&__block
			grid-template-columns: 1fr
