h1, h2, h3, h4, h5, h6
    font-family: $ffHeading, $ffBack
    margin-bottom: $gap3
    margin-top: 0


h1, .h1
    +ft(52, 52*1.4, 500)
    margin-top: 0
    margin-bottom: 0
    +maw($lg)
        +ft(46, 46*1.4, 500)
    +maw($md)
        +ft(40, 40*1.4, 500)
    +maw($sm)
        font-size: 1.65em
        font-weight: 700
    +maw($xxs)
        font-size: 1.4em

h2, .h2
    +ft(38, 38*1.4, 500)
    +maw($lg)
        +ft(36, 36*1.4, 500)
    +maw($md)
        +ft(30, 30*1.4, 500)
    +maw($sm)
        +ft(23, 23*1.4, 500)
    +maw($xxs)
        font-size: 1.3em

h3, .h3
    +ft(30, 30*1.4, 500)
    +maw($lg)
        +ft(26, 26*1.4, 500)
    +maw($md)
        +ft(24, 24*1.4, 500)
    +maw($sm)
       font-size: 1.15em

h4, .h4
    +ft(24, 24*1.4, 500)
    +maw($lg)
        +ft(23, 23*1.4, 500)
    +maw($md)
        +ft(20, 20*1.4, 500)
    +maw($sm)
        +ft(18, 18*1.4, 500)
    +maw($xxs)
        font-size: 1em

h5, .h5
    +ft(20, 20*1.4, 500)
    +maw($sm)
        +ft(17, 17*1.4, 500)
    +maw($xxs)
        font-size: 0.9em

h6, .h6
    +ft(17, 17*1.4, 500)

p, li
    +ft(16, 16*1.4, 400)

.text
    &-center
        text-align: center
    &--note
        display: inline-block
        font-size: 140%
        font-weight: 600
        transition: $trs
        &:hover
            @extend %text-grad
            box-shadow: 0 2px 0 0 $main
    &--lg
        font-size: 110%