h1, h2, h3, h4, h5, h6
    font-family: $ffHeading, $ffBack
    margin-bottom: $gap3
    margin-top: 0


h1, .h1
    +ft(52, 52*1.4, 500)
    margin-top: 0
    margin-bottom: 0
    +maw($lg)
        +ft(46, 46*1.4, 500)
    +maw($md)
        +ft(40, 40*1.4, 500)
    +maw($sm)
        font-size: 1.65em
        font-weight: 700
    +maw($xxs)
        font-size: 1.4em

h2, .h2
    +ft(38, 38*1.2, 500)
    margin-bottom: $gap3
    +maw($lg)
        +ft(36, 36*1.2, 500)
    +maw($md)
        +ft(30, 30*1.2, 500)
    +maw($sm)
        +ft(23, 23*1.2, 500)
    +maw($xxs)
        font-size: 1.3em

h3, .h3
    +ft(30, 30*1.4, 500)
    +maw($lg)
        +ft(26, 26*1.4, 500)
    +maw($md)
        +ft(24, 24*1.4, 500)
    +maw($sm)
       font-size: 1.15em

h4, .h4
    +ft(24, 24*1.4, 500)
    +maw($lg)
        +ft(23, 23*1.4, 500)
    +maw($md)
        +ft(20, 20*1.4, 500)
    +maw($sm)
        +ft(18, 18*1.4, 500)
    +maw($xxs)
        font-size: 1em

h5, .h5
    +ft(20, 20*1.4, 500)
    +maw($sm)
        +ft(17, 17*1.4, 500)
    +maw($xxs)
        font-size: 0.9em

h6, .h6
    +ft(17, 17*1.4, 500)

p, li
    +ft(16, 16*1.4, 400)

.text
    &-center
        text-align: center
    &--note
        display: inline-block
        font-size: 140%
        font-weight: 600
        transition: $trs
        &:hover
            @extend %text-grad
            box-shadow: 0 2px 0 0 $main
    &--lg
        font-size: 110%

.list
    padding: 0
    display: grid
    gap: $gap2
    li
        position: relative
        list-style-type: none
        +flex(flex, center, start, nowrap)
        gap: $gap2
        span
            &::first-letter
                text-transform: uppercase
        &::before
            content: ''
            display: block
            +sz(8px, 8px)
            min-width: 8px
            border-radius: 50%
            background: $grad

.list-table
    margin-top: $gap4
    &__item
        display: grid
        grid-template-columns: 1fr 1.5fr
        gap: $gap2
        padding-top: $gap2
        padding-bottom: $gap2
        margin-bottom: $gap2
        border-bottom: 1px solid var(--bdc)
        &:last-child
            border: 0
    &__title
        & > *
            @extend .h4
            margin: 0
            strong
                color: $main
                margin-right: 1em
    &__desc
        opacity: $op
        p
            &:first-child
                margin-top: 0
    +maw($md)
        &__item
            grid-template-columns: 1fr