.swiper-pagination-bullet
    background: $white !important
    [data-bs-theme="light"] &
        background: lighten($black, 30%) !important
.swiper-pagination-bullet-active
    background: $main !important
    [data-bs-theme="light"] &
        background: $main !important