---
import '../assets/styles/main.sass';

import SEO from '../components/SEO.astro';
import Header from './TheHeader/index.astro';
import Footer from './TheFooter/index.astro';
import BtnToTop from '../components/ui/BtnToTop.astro';
import Preloader from '../components/ui/Preloader.astro';
import Bg from '../components/ui/HeroBg.astro';
import SVG from '../components/_svg.astro';

const { bg, seo } = Astro.props;

import { ClientRouter } from 'astro:transitions';

import 'animate.css';

const anim = {
	old: {
		name: 'fadeIn',
		duration: '0.5s',
		easing: 'ease-in',
		direction: 'reverse'
	},
	new: {
		name: 'fadeIn',
		duration: '0.5s',
		easing: 'ease-in-out'
	}
};

const customTransition = {
	forwards: anim,
	backwards: anim
};
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<SEO seo={seo} />
		<ClientRouter />
	</head>

	<body class="page__body" data-bs-theme="dark">
		<Preloader />
		{bg && <Bg bg={bg} />}
		<div class="page__wrapper">
			<Header />
			<main transition:animate={customTransition}>
				<slot />
			</main>
		</div>
		<Footer />
		<BtnToTop />
		<SVG />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>

		<script src="../assets/js/main.js"></script>
	</body>
</html>
