---
import '../assets/styles/main.sass';

import SEO from '../components/SEO.astro';
import Header from './TheHeader/index.astro';
import Footer from './TheFooter/index.astro';
import BtnToTop from '../components/ui/BtnToTop.astro';
import SVG from '../components/_svg.astro';

const { bg } = Astro.props;
const { bgImg, bgFill } = bg || {};

import { ClientRouter } from 'astro:transitions';

import 'animate.css';

const anim = {
	old: {
		name: 'fadeIn',
		duration: '0.5s',
		easing: 'ease-in',
		direction: 'reverse'
	},
	new: {
		name: 'fadeIn',
		duration: '0.5s',
		easing: 'ease-in-out'
	}
};

const customTransition = {
	forwards: anim,
	backwards: anim
};
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<SEO />
		<ClientRouter />
	</head>
	<body
		class="page__body"
		data-bs-theme="dark"
		style={bgImg
			? { backgroundImage: `url(${bgImg})`, backgroundSize: bgFill }
			: {}}
	>
		<div class="page__wrapper">
			<Header />
			<main transition:animate={customTransition}>
				<slot />
			</main>
		</div>
		<Footer />
		<BtnToTop />
		<SVG />
		<script src="../assets/js/main.js"></script>
	</body>
</html>
