---
import Corner from '../cards/_corner.astro';
const { title, desc, bg = '/assets/img/banner/banner_1.avif' } = Astro.props;
---

<section class="">
	<div class="container">
		<div class="banner" style={`background-image: url(${bg})`}>
			<div class="banner__content">
				<div class="banner__title">{title}</div>
				<div class="banner__desc">
					{desc}
				</div>
			</div>
			<Corner />
		</div>
	</div>
</section>
