---
const { title, desc, bg = '/assets/img/banner/banner_1.png' } = Astro.props
---

<section class="">
    <div class="container">
        <div class="banner" style={`background-image: url(${bg})`}>
            <div class="banner__content">
                <div class="banner__title">{title}</div>
                <div class="banner__desc">
                    {desc}
                </div>
            </div>
            <button class="banner__cta">
                <svg class="icon" width="48" height="48">
                    <use xlink:href="#arr-t-r"></use>
                </svg>
            </button>
            <div class="banner__corner">
                <svg viewBox="0 0 160.6 160">
                    <g>
                        <path
                            d="M161.1,1.1C161,43,143.8,39.4,116,43c-31,4-44,11-56,24c-12.8,13.9-14.1,30.9-16,55c-0.7,8.9-6,38-44,38
		l0.1,0.1l0,0L161,160"
                        ></path>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</section>
