---
import { Image } from 'astro:assets';
const { bg } = Astro.props;
---

<section class="page__bg">
	<div class="page__bg-img-wrap">
		<Image src={bg} alt="Hero BG" width="900" height="450" />
	</div>
</section>
