---
const placeholder = 'Начните вводить...'
---

<from class="search" action="/" novalidete>
    <div class="search__field">
        <svg class="icon" width="24" height="24">
            <use xlink:href="#serach"></use>
        </svg>
        <input type="search" placeholder={placeholder} />
    </div>
</from>

