---
const { data } = Astro.props;
---

<div class="stat">
    {
        data.map(({ title, val }) => (
            <div class="stat__item">
                <div class="stat__title">{title}</div>
                <div class="stat__val">{val}</div>
            </div>
        ))
    }
</div>
