---
import 'swiper/css'
import 'swiper/css/pagination'
import 'swiper/css/navigation'

const { data, CardComponent } = Astro.props
---

<div class="swiper my-swiper">
    <div class="swiper-wrapper">
        {
            data.map((item, index) => (
                <div class="swiper-slide" key={index}>
                    <CardComponent data={item.frontmatter} />
                </div>
            ))
        }
    </div>

    <!-- Navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

    <!-- Pagination -->
    <div class="swiper-pagination"></div>
</div>

<script>
    import Swiper from '../../../node_modules/swiper'
    import { Navigation, Pagination, Autoplay } from '../../../node_modules/swiper/modules'

    document.addEventListener('astro:page-load', () => {
       
        
            new Swiper('.my-swiper', {
                modules: [Navigation, Pagination, Autoplay],
                spaceBetween: 30,
                slidesPerView: 1,
                // navigation: { 
                //     nextEl: '.swiper-button-next', 
                //     prevEl: '.swiper-button-prev' 
                // },
                pagination: { el: '.swiper-pagination', clickable: true },
                //autoplay: { delay: 3000, disableOnInteraction: false },
                breakpoints: {
                    1000: { slidesPerView: 3 },
                    640: { slidesPerView: 2 },
                },
            })
       
    })
</script>
